@font-face {
  font-family: 'Inter Light';
  src: url('./fonts/Inter-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Inter Thin';
  src: url('./fonts/Inter-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Inter Regular';
  src: url('./fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Inter Bold';
  src: url('./fonts/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: auto;
}
